
nav {
    background-color: #395C9F;;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {     
    border-bottom: 2px solid white; 
    /* Ajoute une bordure en bas au survol */ 
}


main {
    margin: 20px;
}

main a {
    display: inline-block;
    padding: 10px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease-in-out;
}

section li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 40%;
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

li a:hover {
    background-color: red;
}


.offre-list {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 95%;
}



footer {
    background-color: #395C9F;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {     
    border-bottom: 2px solid white; 
    /* Ajoute une bordure en bas au survol */ 
}