header {
    background-color:  gray;;
    color: #fff;
    text-align: center;
    padding: 1em;
  }

nav {
    padding: 10px;
    background-color: #395C9F;
    text-align: center;
  }

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

nav a:hover {
    border-bottom: 2px solid white; 
}


footer {
    text-align: center;
    padding: 10px;
    background-color:  #395C9F;
    color: white;
  }

footer a {
    text-decoration: none;
    color: white
}

footer a:hover {
    border-bottom: 2px solid white; 
}