nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color:  #395C9F;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid white; 
}

h1 {
    padding: 5px;
    background-color: gray;
}

section {
    display: flex;
    justify-content: center;
}

li a {
    display: inline-block;
    padding: 10px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
}

li a:hover {
    background-color:  #395C9F;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:  #395C9F;
    color: white;
}

footer a {
    text-decoration: none;
    color: white
}

footer a:hover {
    border-bottom: 2px solid white; 
}