
nav {
    background-color:  #395C9F;;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white
}

nav a:hover {
    border-bottom: 2px solid white; 
    /* Ajoute une bordure en bas au survol */ 
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: black;
}


ul {
    list-style: none;
    padding: 0;
}


#offres {
    width: 70%;
}


.offres-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 8px;

}

li:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

h2, p {
    padding: 10px;
    margin: 0;
}

main a {
    display: inline-block;
    padding: 10px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease-in-out;
}


article a {
    display: inline-block;
    padding: 10px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
  }
  
article a:hover {
    background-color: red;
  }


li a {
    display: inline-block;
    padding: 10px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
}

li a:hover {
    background-color: red;
}


.contact-entreprise {
    text-align: center;
    padding: 2em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}



footer {
    text-align: center;
    padding: 5px;
    background-color:  #395C9F;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover {
    border-bottom: 2px solid white; 
    /* Ajoute une bordure en bas au survol */ 
}
